<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.physicals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Physicals">
        <activity
            android:name=".ConvertS"
            android:exported="false" />
        <activity
            android:name=".ConvertNuton"
            android:exported="false" />
        <activity
            android:name=".ConvertMassa"
            android:exported="false" />
        <activity
            android:name=".ComvertList"
            android:exported="false" />
        <activity
            android:name=".Pressure"
            android:exported="false" />
        <activity
            android:name=".Formulas"
            android:exported="true" />
        <activity
            android:name=".MomentOfPower"
            android:exported="false" />
        <activity
            android:name=".Density"
            android:exported="false" />
        <activity
            android:name=".Gravity"
            android:exported="false" />
        <activity
            android:name=".Weight"
            android:exported="false" />
        <activity
            android:name=".TaskList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>